:root {
  --primary: #113350;
  --secondary: #f7f9fb;
  --accent: #237bc4;
  --text-dark: #1d2a36;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--white);
  background-color: var(--primary);
  padding-top: 150px;
}

.navbar {
  background: rgba(255, 255, 255, 0.95) !important;
  backdrop-filter: blur(10px);
}

.nav-link {
  color: var(--primary) !important;
}

.nav-link:hover {
  color: var(--accent) !important;
}

.custom-btn:hover {
  background-color: var(--white);
}

.hero-image {
  width: 100%;
  max-width: 650px;
  border-radius: 20px;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

.hero-image:hover {
  transform: translateY(-5px);
}
